# Environment
.env
.env.*
*.pem
*.key

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
env/
venv/
.venv/

# Django
db.sqlite3
staticfiles/
media/

# Node / build tools
node_modules/
dist/
build/

# OS junk
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Logs
*.log

