{% extends 'learning_logs/base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block body_class %}bg-props{% endblock %}

{% block title %}
  (Ɲƞ) "Props" Photo Gallery
{% endblock %}

{% block link %}
  <link rel="stylesheet" href="{% static '/css/props.css' %}">
{% endblock %}

{% block style %}
{% endblock %}

{% block content %}

<div class="heading-props-container">
  <h1>Photos Used</h1>
  <p>(And the others I thought about using)</p>
</div>

<div class="gallery">

<div class="gallery-item">
  <a target="_blank" href="{% static 'images/karenpouls-water-drop.jpg' %}">
    <img src="{% static 'images/karenpouls-water-drop.jpg' %}" alt="Karen's Water Drop" width="600" height="400">
  </a>
  <div class="desc">
    <p>Water Drop</p>
    <p><a href="https://pixabay.com/users/karenpouls-29977452/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=7589539" target="_blank">KarenPouls</a></p>
    <button class="btn btn-dark btn-sm mt-2 set-bg-btn" data-bg="{% static 'images/karenpouls-water-drop.jpg' %}">Set as Background</button>
  </div>
</div>

<div class="gallery-item">
  <a target="_blank" href="{% static 'images/analogicus-waterdrop.jpg' %}">
    <img src="{% static 'images/analogicus-waterdrop.jpg' %}" alt="Ana's Water Drop" width="600" height="400">
  </a>
  <div class="desc">
    <p>Water Drop</p>
    <p>analogicus</p>
    <button class="btn btn-dark btn-sm mt-2 set-bg-btn" data-bg="{% static 'images/analogicus-waterdrop.jpg' %}">Set as Background</button>
  </div>
</div>

<div class="gallery-item">
  <a target="_blank" href="{% static 'images/raindrops.jpg' %}">
    <img src="{% static 'images/raindrops.jpg' %}" alt="Dragon's Raindrops" width="600" height="400">
  </a>
  <div class="desc">
    <p>Raindrops</p>
    <p>Dragon77</p>
    <button class="btn btn-dark btn-sm mt-2 set-bg-btn" data-bg="{% static 'images/raindrops.jpg' %}">Set as Background</button>
  </div>
</div>

<div class="gallery-item">
  <a target="_blank" href="{% static 'images/puddle.jpg' %}">
    <img src="{% static 'images/puddle.jpg' %}" alt="Puddle" width="600" height="400">
  </a>
  <div class="desc">
    <p>The Puddle</p>
    <p><a target="_blank" href="https://pixabay.com/users/photorama-5047024/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=2584378">Photorama</a></p>
    <button class="btn btn-dark btn-sm mt-2 set-bg-btn" data-bg="{% static 'images/puddle.jpg' %}">Set as Background</button>
  </div>
</div>

<div class="gallery-item">
  <a target="_blank" href="{% static 'images/cromagnon130-drop.jpg' %}">
    <img src="{% static 'images/cromagnon130-drop.jpg' %}" alt="Cro's Drop" width="600" height="400">
  </a>
  <div class="desc">
    <p>Cro's Drop</p>
    <p><a target="_blank" href="https://pixabay.com/users/cromagnon130-611261/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=5269146">cromagnon130</a></p>
    <button class="btn btn-dark btn-sm mt-2 set-bg-btn" data-bg="{% static 'images/cromagnon130-drop.jpg' %}">Set as Background</button>

  </div>
</div>

<div class="gallery-item">
  <a target="_blank" href="{% static 'images/fernandozhiminaicela-water-drop.jpg' %}">
    <img src="{% static 'images/fernandozhiminaicela-water-drop.jpg' %}" alt="Fernando's Water Drop" width="600" height="400">
  </a>
  <div class="desc">
    <p>Water Drop</p>
    <p><a target="_blank" href="https://pixabay.com/users/fernandozhiminaicela-6246704/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=4531474">fernandozhiminaicela</a></p>
    <button class="btn btn-dark btn-sm mt-2 set-bg-btn" data-bg="{% static 'images/fernandozhiminaicela-water-drop.jpg' %}">Set as Background</button>
  </div>
</div>

<div class="gallery-item">
  <a target="_blank" href="{% static 'images/steve_a_johnson-blueice.jpg' %}">
    <img src="{% static 'images/steve_a_johnson-blueice.jpg' %}" alt="Blue Ice" width="600" height="400">
  </a>
  <div class="desc">
    <p>Steve's Blue</p>
    <p><a target="_blank" href="https://pixabay.com/users/steve_a_johnson-8206634/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=8857295">steve_a_johnson</a></p>
    <button class="btn btn-dark btn-sm mt-2 set-bg-btn" data-bg="{% static 'images/steve_a_johnson-blueice.jpg' %}">Set as Background</button>
  </div>
</div>

<div class="gallery-item">
  <a target="_blank" href="{% static 'images/inspiredimages-dandelion.jpg' %}">
    <img src="{% static 'images/inspiredimages-dandelion.jpg' %}" alt="Dandelion" width="600" height="400">
  </a>
  <div class="desc" style="height: max-content;">
    <p>Inspiration</p>
    <p><a target="_blank" href="https://pixabay.com/users/inspiredimages-57296/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=445228">InspiredImages</a></p>
    <button class="btn btn-dark btn-sm mt-2 set-bg-btn" data-bg="{% static 'images/inspiredimages-dandelion.jpg' %}">Set as Background</button>
  </div>
</div>

<div class="gallery-item">
  <a target="_blank" href="{% static 'images/glacier.jpg' %}">
    <img src="{% static 'images/glacier.jpg' %}" alt="Glacier" width="600" height="400">
  </a>
  <div class="desc" >
    <p>Glacier</p>
    <p><a target="_blank" href="https://pixabay.com/users/janvanbizar-22575084/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=7187291">Janvanbizar</a></p>
    <button class="btn btn-dark btn-sm mt-2 set-bg-btn" data-bg="{% static 'images/glacier.jpg' %}">Set as Background</button>
  </div>
</div>

<div class="gallery-item">
  <a target="_blank" href="{% static 'images/icicles.jpg' %}">
    <img src="{% static 'images/icicles.jpg' %}" alt="Icicles" width="600" height="400">
  </a>
  <div class="desc">
    <p>Icicles</p>
    <p><a target="_blank" href="https://pixabay.com/users/wal_172619-12138562/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=6897046">wal_172619</a></p>
    <button class="btn btn-dark btn-sm mt-2 set-bg-btn" data-bg="{% static 'images/icicles.jpg' %}">Set as Background</button>
  </div>
</div>

<div class="gallery-item">
  <a target="_blank" href="{% static 'images/ronymichaud-drop-of-water.jpg' %}">
    <img src="{% static 'images/ronymichaud-drop-of-water.jpg' %}" alt="Rony's Water Drop" width="600" height="400">
  </a>
  <div class="desc">
    <p>Water Drop</p>
    <p><a target="_blank" href="https://pixabay.com/users/ronymichaud-647623/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=578897">ronymichaud</a></p>
    <button class="btn btn-dark btn-sm mt-2 set-bg-btn" data-bg="{% static 'images/ronymichaud-drop-of-water.jpg' %}">Set as Background</button>
  </div>
</div>

<div class="gallery-item">
  <a target="_blank" href="{% static 'images/roegger-drop.jpg' %}">
    <img src="{% static 'images/roegger-drop.jpg' %}" alt="Roegger's Water Drop" width="600" height="400">
  </a>
  <div class="desc">
    <p>Water Drop</p>
    <p><a target="_blank" href="https://pixabay.com/users/roegger-607528/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=545377">roegger</a></p>
    <button class="btn btn-dark btn-sm mt-2 set-bg-btn" data-bg="{% static 'images/roegger-drop.jpg' %}">Set as Background</button>
  </div>
</div>

<div class="gallery-item">
  <a target="_blank" href="{% static 'images/wolfblur-drop.jpg' %}">
    <img src="{% static 'images/wolfblur-drop.jpg' %}" alt="Wolf's Water Drop" width="600" height="400">
  </a>
  <div class="desc">
    <p>Water Drop</p>
    <p><a target="_blank" href="https://pixabay.com/users/wolfblur-2503887/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=2437729">WolfBlur</a></p>
    <button class="btn btn-dark btn-sm mt-2 set-bg-btn" data-bg="{% static 'images/wolfblur-drop.jpg' %}">Set as Background</button>
  </div>
</div>

<div class="gallery-item">
  <a target="_blank" href="{% static 'images/azorko-water.jpg' %}">
    <img src="{% static 'images/azorko-water.jpg' %}" alt="Azorko's Water Drop" width="600" height="400">
  </a>
  <div class="desc">
    <p>Water Drop</p>
    <p><a target="_blank" href="https://pixabay.com/users/azorko-11803415/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=4071727">azorko</a></p>
    <button class="btn btn-dark btn-sm mt-2 set-bg-btn" data-bg="{% static 'images/azorko-water.jpg' %}">Set as Background</button>
  </div>
</div>

<div class="gallery-item">
  <a target="_blank" href="{% static 'images/pexels-blue.jpg' %}">
    <img src="{% static 'images/pexels-blue.jpg' %}" alt="Pexel's Blue" width="600" height="400">
  </a>
  <div class="desc">
    <p>Pexel's Blue</p>
    <p><a target="_blank" href="https://pixabay.com/users/pexels-2286921/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=2178639">Pexels</a></p>
    <button class="btn btn-dark btn-sm mt-2 set-bg-btn" data-bg="{% static 'images/pexels-blue.jpg' %}">Set as Background</button>
  </div>
</div>

<div class="gallery-item">
  <a target="_blank" href="{% static 'images/mariaage-water.jpg' %}">
    <img src="{% static 'images/mariaage-water.jpg' %}" alt="Yuri's World Map" width="600" height="400">
  </a>
  <div class="desc">
    <p>Water Drop</p>
    <p><a target="_blank" href="https://pixabay.com/users/mariaage-3769838/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=4926382">MariaAge</a></p>
    <button class="btn btn-dark btn-sm mt-2 set-bg-btn" data-bg="{% static 'images/mariaage-water.jpg' %}">Set as Background</button>
  </div>
</div>

<div class="gallery-item">
  <a target="_blank" href="{% static 'images/kai_vogel-drop.jpg' %}">
    <img src="{% static 'images/kai_vogel-drop.jpg' %}" alt="Kai's Water Drop" width="600" height="400">
  </a>
  <div class="desc">
    <p>Water Drop</p>
    <p><a target="_blank" href="https://pixabay.com/users/kai_vogel-1723066/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1882395">Kai_Vogel</a></p>
    <button class="btn btn-dark btn-sm mt-2 set-bg-btn" data-bg="{% static 'images/kai_vogel-drop.jpg' %}">Set as Background</button>
  </div>
</div>

<div class="gallery-item">
  <a target="_blank" href="{% static 'images/wreco-blue.jpg' %}">
    <img src="{% static 'images/wreco-blue.jpg' %}" alt="Wreco's Blue" width="600" height="400">
  </a>
  <div class="desc">
    <p>Wreco's Blue</p>
    <p><a target="_blank" href="https://pixabay.com/users/wreco-3157282/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=2796673">wreco</a></p>
    <button class="btn btn-dark btn-sm mt-2 set-bg-btn" data-bg="{% static 'images/wreco-blue.jpg' %}">Set as Background</button>
  </div>
</div>

<div class="gallery-item">
  <a target="_blank" href="{% static 'images/myshoun-ai-generated.jpg' %}">
    <img src="{% static 'images/myshoun-ai-generated.jpg' %}" alt="AI's Water Drop" width="600" height="400">
  </a>
  <div class="desc">
    <p>AI Water Drop</p>
    <p><a target="_blank" href="https://pixabay.com/users/myshoun-11748683/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=8464364">myshoun</a></p>
    <button class="btn btn-dark btn-sm mt-2 set-bg-btn" data-bg="{% static 'images/myshoun-ai-generated.jpg' %}">Set as Background</button>
  </div>
</div>

<div class="gallery-item">
  <a target="_blank" href="{% static 'images/simon-ice-cream.jpg' %}">
    <img src="{% static 'images/simon-ice-cream.jpg' %}" alt="AI's Water Drop" width="600" height="400">
  </a>
  <div class="desc">
    <p>Ice Cream</p>
    <p><a target="_blank" href="https://pixabay.com/users/simon-3/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=2360348">Simon</a></a></p>
    <button class="btn btn-dark btn-sm mt-2 set-bg-btn" data-bg="{% static 'images/simon-ice-cream.jpg' %}">Set as Background</button>
  </div>
</div>

<div class="gallery-item">
  <a target="_blank" href="{% static 'images/claudiawollesen-water.jpg' %}">
    <img src="{% static 'images/claudiawollesen-water.jpg' %}" alt="Claudia's Water Drop" width="600" height="400">
  </a>
  <div class="desc">
    <p>Water Drop</p>
    <p><a target="_blank" href="https://pixabay.com/users/claudiawollesen-887962/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=921067">ClaudiaWollesen</a></p>
    <button class="btn btn-dark btn-sm mt-2 set-bg-btn" data-bg="{% static 'images/claudiawollesen-water.jpg' %}">Set as Background</button>
  </div>
</div>

<div class="gallery-item">
  <a target="_blank" href="{% static 'images/marceldominic-iceland.jpg' %}">
    <img src="{% static 'images/marceldominic-iceland.jpg' %}" alt="AI's Water Drop" width="600" height="400">
  </a>
  <div class="desc">
    <p>Iceland</p>
    <p><a target="_blank" href="https://pixabay.com/users/marceldominic-9902825/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=3908498">MarcelDominic</a></p>
    <button class="btn btn-dark btn-sm mt-2 set-bg-btn" data-bg="{% static 'images/marceldominic-iceland.jpg' %}">Set as Background</button>
  </div>
</div>

<div class="gallery-item">
  <a target="_blank" href="{% static 'images/publicdomainpictures-splash.jpg' %}">
    <img src="{% static 'images/publicdomainpictures-splash.jpg' %}" alt="Splash" width="600" height="400">
  </a>
  <div class="desc">
    <p>Splash</p>
    <p><a target="_blank" href="https://pixabay.com/users/publicdomainpictures-14/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=164963">PublicDomainPictures</a></p>
    <button class="btn btn-dark btn-sm mt-2 set-bg-btn" data-bg="{% static 'images/publicdomainpictures-splash.jpg' %}">Set as Background</button>
  </div>
</div>

<div class="gallery-item">
  <a target="_blank" href="{% static 'images/myriams-fotos-waterdrop.jpg' %}">
    <img src="{% static 'images/myriams-fotos-waterdrop.jpg' %}" alt="Myriam's Raindrops" width="600" height="400">
  </a>
  <div class="desc">
    <p>Raindrops</p>
    <p><a target="_blank" href="https://pixabay.com/users/myriams-fotos-1627417/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1728002">Myriams-Fotos</a></p>
    <button class="btn btn-dark btn-sm mt-2 set-bg-btn" data-bg="{% static 'images/myriams-fotos-waterdrop.jpg' %}">Set as Background</button>
  </div>
</div>

<div class="gallery-item">
  <a target="_blank" href="{% static 'images/magri48-waterdrop.jpg' %}">
    <img src="{% static 'images/magri48-waterdrop.jpg' %}" alt="Magri's Water Drop" width="600" height="400">
  </a>
  <div class="desc">
    <p>Water Drop</p>
    <p><a target="_blank" href="https://pixabay.com/users/magri48-12766285/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=4478783">magri48</a></p>
    <button class="btn btn-dark btn-sm mt-2 set-bg-btn" data-bg="{% static 'images/magri48-waterdrop.jpg' %}">Set as Background</button>
  </div>
</div>

<div class="gallery-item">
  <a target="_blank" href="{% static 'images/kevinschmid-drops.jpg' %}">
    <img src="{% static 'images/kevinschmid-drops.jpg' %}" alt="AI's Water Drop" width="600" height="400">
  </a>
  <div class="desc">
    <p>Water Drop Red</p>
    <p><a target="_blank" href="https://pixabay.com/users/kevinschmid-15711311/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=4968242">KevinSchmid</a></p>
    <button class="btn btn-dark btn-sm mt-2 set-bg-btn" data-bg="{% static 'images/kevinschmid-drops.jpg' %}">Set as Background</button>
  </div>
</div>

<div class="gallery-item">
  <a target="_blank" href="{% static 'images/bogitw-drop.jpg' %}">
    <img src="{% static 'images/bogitw-drop.jpg' %}" alt="Black/White Water Drop" width="600" height="400">
  </a>
  <div class="desc">
    <p>Water Drop</p>
    <p><a target="_blank" href="https://pixabay.com/users/bogitw-851103/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1066410">bogitw</a></p>
    <button class="btn btn-dark btn-sm mt-2 set-bg-btn" data-bg="{% static 'images/bogitw-drop.jpg' %}"> Set as Background</button>
  </div>
</div>

<div class="gallery-item">
  <a target="_blank" href="{% static 'images/roegger-water.jpg' %}">
    <img src="{% static 'images/roegger-water.jpg' %}" alt="Roegger's Water" width="600" height="400">
  </a>
  <div class="desc">
    <p>Splash</p>
    <p><a target="_blank" href="https://pixabay.com/users/roegger-607528/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=549114">roegger</a></p>
    <button class="btn btn-dark btn-sm mt-2 set-bg-btn" data-bg="{% static 'images/roegger-water.jpg' %}">Set as Background</button>
  </div>
</div>

<div class="gallery-item">
  <a target="_blank" href="{% static 'images/ylloh-drip.jpg' %}">
    <img src="{% static 'images/ylloh-drip.jpg' %}" alt="Ylloh's Water Drop" width="600" height="400">
  </a>
  <div class="desc">
    <p>Water Drop</p>
    <p><a target="_blank" href="https://pixabay.com/users/ylloh-1120886/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=3875270">Ylloh</a></p>
    <button class="btn btn-dark btn-sm mt-2 set-bg-btn" data-bg="{% static 'images/ylloh-drip.jpg' %}">Set as Background</button>
  </div>
</div>

<div class="gallery-item">
  <a target="_blank" href="{% static 'images/qimono-water.jpg' %}">
    <img src="{% static 'images/qimono-water.jpg' %}" alt="Qimono's Water Drop" width="600" height="400">
  </a>
  <div class="desc">
    <p>Water Drop</p>
    <p><a target="_blank" href="https://pixabay.com/users/qimono-1962238/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1761027">qimono</a></p>
    <button class="btn btn-dark btn-sm mt-2 set-bg-btn" data-bg="{% static 'images/qimono-water.jpg' %}">Set as Background</button>
  </div>
</div>

<div class="gallery-item">
  <a target="_blank" href="{% static 'images/salesclerk001-drops.jpg' %}">
    <img src="{% static 'images/salesclerk001-drops.jpg' %}" alt="SalesClerk's Water Drop" width="600" height="400">
  </a>
  <div class="desc">
    <p>Water Drop</p>
    <p><a target="_blank" href="https://pixabay.com/users/salesclerk001-8259643/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=9360784">Salesclerk001</a></p>
    <button class="btn btn-dark btn-sm mt-2 set-bg-btn" data-bg="{% static 'images/salesclerk001-drops.jpg' %}">Set as Background</button>
  </div>
</div>

<div class="gallery-item">
  <a target="_blank" href="{% static 'images/bellingham5-ai-generated.jpg' %}">
    <img src="{% static 'images/bellingham5-ai-generated.jpg' %}" alt="Bellingham's AI Water Drop" width="600" height="400">
  </a>
  <div class="desc">
    <p>AI Water Drop</p>
    <p><a target="_blank" href="https://pixabay.com/users/bellingham5-43294463/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=8806527">Bellingham5</a></p>
    <button class="btn btn-dark btn-sm mt-2 set-bg-btn" data-bg="{% static 'images/bellingham5-ai-generated.jpg' %}">Set as Background</button>
  </div>
</div>

<div class="gallery-item">
  <a target="_blank" href="{% static 'images/fietzfotos-moon.jpg' %}">
    <img src="{% static 'images/fietzfotos-moon.jpg' %}" alt="Fietzfotos' Moon" width="600" height="400">
  </a>
  <div class="desc">
    <p>Moon</p>
    <p><a target="_blank" href="https://pixabay.com/users/fietzfotos-6795508/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=5224745">fietzfotos</a></p>
    <button class="btn btn-dark btn-sm mt-2 set-bg-btn" data-bg="{% static 'images/fietzfotos-moon.jpg' %}">Set as Background</button>
  </div>
</div>

<div class="gallery-item">
  <a target="_blank" href="{% static 'images/alexas_fotos-moon.jpg' %}">
    <img src="{% static 'images/alexas_fotos-moon.jpg' %}" alt="Alexas' Moon" width="600" height="400">
  </a>
  <div class="desc">
    <p>Moon </p>
    <p><a target="_blank" href="https://pixabay.com/users/alexas_fotos-686414/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=2279198">Alexas_Fotos</a></p>
    <button class="btn btn-dark btn-sm mt-2 set-bg-btn" data-bg="{% static 'images/alexas_fotos-moon.jpg' %}">Set as Background</button>
  </div>
</div>

<div class="gallery-item">
  <a target="_blank" href="{% static 'images/decster1-hd-wallpaper.png' %}">
    <img src="{% static 'images/decster1-hd-wallpaper.png' %}" alt="Decster's Blue Moon" width="600" height="400">
  </a>
  <div class="desc">
    <p>Blue Moon</p>
    <p><a target="_blank" href="https://pixabay.com/users/decster1-25688242/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=8853669">Decster1</a></p>
    <button class="btn btn-dark btn-sm mt-2 set-bg-btn" data-bg="{% static 'images/decster1-hd-wallpaper.png' %}">Set as Background</button>
  </div>
</div>

<div class="gallery-item">
  <a target="_blank" href="{% static 'images/ulrikebohr570-moon.jpg' %}">
    <img src="{% static 'images/ulrikebohr570-moon.jpg' %}" alt="Ulrikebohr's Red Moon" width="600" height="400">
  </a>
  <div class="desc">
    <p>Red Moon</p>
    <p><a target="_blank" href="https://pixabay.com/users/ulrikebohr570-793320/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=963926">ulrikebohr570</a></p>
    <button class="btn btn-dark btn-sm mt-2 set-bg-btn" data-bg="{% static 'images/ulrikebohr570-moon.jpg' %}">Set as Background</button>
  </div>
</div>

<div class="gallery-item">
  <a target="_blank" href="{% static 'images/susan-lu4esm-moon-5175691_1920.jpg' %}">
    <img src="{% static 'images/susan-lu4esm-moon-5175691_1920.jpg' %}" alt="" width="600" height="400">
  </a>
  <div class="desc">
    <p>Moonlight</p>
    <p><a target="_blank" href="https://pixabay.com/users/susan-lu4esm-7009216/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=5175691">susan-lu4esm</a></p>
    <button class="btn btn-dark btn-sm mt-2 set-bg-btn" data-bg="{% static 'images/susan-lu4esm-moon-5175691_1920.jpg' %}">Set as Background</button>
  </div>
</div>

<div class="gallery-item">
  <a target="_blank" href="{% static 'images/adege-lunar-eclipse.jpg' %}">
    <img src="{% static 'images/adege-lunar-eclipse.jpg' %}" alt="Adege's Lunar Eclipse" width="600" height="400">
  </a>
  <div class="desc">
    <p>Lunar Eclipse</p>
    <p><a target="_blank" href="https://pixabay.com/users/adege-4994132/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=3572336">adege</a></p>
    <button class="btn btn-dark btn-sm mt-2 set-bg-btn" data-bg="{% static 'images/adege-lunar-eclipse.jpg' %}">Set as Background</button>
  </div>
</div>

<div class="gallery-item">
  <a target="_blank" href="{% static 'images/jimgor33-moon.jpg' %}">
    <img src="{% static 'images/jimgor33-moon.jpg' %}" alt="Jimgor's Moon" width="600" height="400">
  </a>
  <div class="desc">
    <p>Moon</p>
    <p><a target="_blank" href="https://pixabay.com/users/jimgor33-5579676/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=6564710">jimgor33</a></p>
    <button class="btn btn-dark btn-sm mt-2 set-bg-btn" data-bg="{% static 'images/jimgor33-moon.jpg' %}">Set as Background</button>
  </div>
</div>

<div class="gallery-item">
  <a target="_blank" href="{% static 'images/bro-hd-moon.jpg' %}">
    <img src="{% static 'images/bro-hd-moon.jpg' %}" alt="Bro HD's Moon" width="600" height="400">
  </a>
  <div class="desc">
    <p>Moon</p>
    <p><a target="_blank" href="https://pixabay.com/users/bro-hd-24304488/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=6822203">BRO-HD</a></p>
    <button class="btn btn-dark btn-sm mt-2 set-bg-btn" data-bg="{% static 'images/bro-hd-moon.jpg' %}">Set as Background</button>
  </div>
</div>

<div class="gallery-item">
  <a target="_blank" href="{% static 'images/woodsilver-red-moon.jpg' %}">
    <img src="{% static 'images/woodsilver-red-moon.jpg' %}" alt="Woodsilver's Red Moon" width="600" height="400">
  </a>
  <div class="desc">
    <p>Red Moon</p>
    <p><a target="_blank" href="https://pixabay.com/users/woodsilver-4045569/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=2111044">woodsilver</a></p>
    <button class="btn btn-dark btn-sm mt-2 set-bg-btn" data-bg="{% static 'images/woodsilver-red-moon.jpg' %}">Set as Background</button>
  </div>
</div>

<div class="gallery-item">
  <a target="_blank" href="{% static 'images/photo-graphe-moon.jpg' %}">
    <img src="{% static 'images/photo-graphe-moon.jpg' %}" alt="Ana's Water Drop" width="600" height="400">
  </a>
  <div class="desc">
    <p>Dark Moon</p>
    <p><a target="_blank" href="https://pixabay.com/users/photo-graphe-2867425/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=2762111">photo-graphe</a></p>
    <button class="btn btn-dark btn-sm mt-2 set-bg-btn" data-bg="{% static 'images/photo-graphe-moon.jpg' %}">Set as Background</button>
  </div>
</div>

<div class="gallery-item">
  <a target="_blank" href="{% static 'images/susan-lu4esm-moon.jpg' %}" >
    <img src="{% static 'images/susan-lu4esm-moon.jpg' %}" alt="Susan's Moon" width="600" height="400">
  </a>
  <div class="desc">
    <p>Moon</p>
    <p><a target="_blank" href="https://pixabay.com/users/susan-lu4esm-7009216/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=5307922">susan-lu4esm</a></p>

    <button class="btn btn-dark btn-sm mt-2 set-bg-btn" data-bg="{% static 'images/susan-lu4esm-moon.jpg' %}">Set as Background</button>
  </div>
</div>

<div class="gallery-item">
  <a target="_blank" href="{% static 'images/kanenori-moon.jpg' %}">
    <img src="{% static 'images/kanenori-moon.jpg' %}" alt="Kanenori's Moon" width="600" height="400">
  </a>
  <div class="desc">
    <p>Moon</p>
    <p><a target="_blank" href="https://pixabay.com/users/kanenori-4749850/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=6365467">Kanenori</a></p>
    <button class="btn btn-dark btn-sm mt-2 set-bg-btn" data-bg="{% static 'images/kanenori-moon.jpg' %}">Set as Background</button>
  </div>
</div>

<div class="gallery-item">
  <a target="_blank" href="{% static 'images/mylene2401-rain.jpg' %}">
    <img src="{% static 'images/mylene2401-rain.jpg' %}" alt="AI's Water Drop" width="600" height="400">
  </a>
  <div class="desc">
    <p>Rain</p>
    <p><a target="_blank" href="https://pixabay.com/users/mylene2401-10328767/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=5213306">Mylene2401</a></p>
    <button class="btn btn-dark btn-sm mt-2 set-bg-btn" data-bg="{% static 'images/mylene2401-rain.jpg' %}">Set as Background</button>
  </div>
</div>

<div class="gallery-item">
  <a target="_blank" href="{% static 'images/mode21-sea.jpg' %}">
    <img src="{% static 'images/mode21-sea.jpg' %}" alt="Mode21's Sea" width="600" height="400">
  </a>
  <div class="desc">
    <p>Sea</p>
    <p><a target="_blank" href="https://pixabay.com/users/mode21-17112200/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=7104852">Mode21</a></p>
    <button class="btn btn-dark btn-sm mt-2 set-bg-btn" data-bg="{% static 'images/mode21-sea.jpg' %}">Set as Background</button>
  </div>
</div>

<div class="gallery-item">
  <a target="_blank" href="{% static 'images/elg21-fantasy.jpg' %}">
    <img src="{% static 'images/elg21-fantasy.jpg' %}" alt="ELG' Fantasy" width="600" height="400">
  </a>
  <div class="desc">
    <p>Fantasy</p>
    <p><a target="_blank" href="https://pixabay.com/users/elg21-3764790/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=4956789">ELG21</a></p>
    <button class="btn btn-dark btn-sm mt-2 set-bg-btn" data-bg="{% static 'images/elg21-fantasy.jpg' %}">Set as Background</button>
  </div>
</div>

<div class="gallery-item">
  <a target="_blank" href="{% static 'images/elg21-landscape.jpg' %}">
    <img src="{% static 'images/elg21-landscape.jpg' %}" alt="ELG's Landscape" width="600" height="400">
  </a>
  <div class="desc">
    <p>Landscape</p>
    <p><a target="_blank" href="https://pixabay.com/users/elg21-3764790/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=5176891">ELG21</a></p>
    <button class="btn btn-dark btn-sm mt-2 set-bg-btn" data-bg="{% static 'images/elg21-landscape.jpg' %}">Set as Background</button>
  </div>
</div>


<div class="gallery-item">
  <a target="_blank" href="{% static 'images/rolandoemail-space.jpg' %}">
    <img src="{% static 'images/rolandoemail-space.jpg' %}" alt="Rolando's Space" width="600" height="400">
  </a>
  <div class="desc">
    <p>Space</p>
    <p><a target="_blank" href="https://pixabay.com/users/rolandoemail-1079590/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=2406425">rolandoemail</a></p>
    <button class="btn btn-dark btn-sm mt-2 set-bg-btn" data-bg="{% static 'images/rolandoemail-space.jpg' %}">Set as Background</button>
  </div>
</div>

<div class="gallery-item">
  <a target="_blank" href="{% static 'images/pexels-astronomy.jpg' %}">
    <img src="{% static 'images/pexels-astronomy.jpg' %}" alt="Pexels' Astronomy" width="600" height="400">
  </a>
  <div class="desc">
    <p>Astronomy</p>
    <p><a target="_blank" href="https://pixabay.com/users/pexels-2286921/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1867616">Pexels</a></p>
    <button class="btn btn-dark btn-sm mt-2 set-bg-btn" data-bg="{% static 'images/pexels-astronomy.jpg' %}">Set as Background</button>
  </div>
</div>

<div class="gallery-item">
  <a target="_blank" href="{% static 'images/wikiimages-galaxy.jpg' %}">
    <img src="{% static 'images/wikiimages-galaxy.jpg' %}" alt="Wiki Images' Galaxy" width="600" height="400">
  </a>
  <div class="desc">
    <p>Galaxy</p>
    <p><a target="_blank" href="https://pixabay.com/users/wikiimages-1897/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=11098">WikiImages</a></p>
    <button class="btn btn-dark btn-sm mt-2 set-bg-btn" data-bg="{% static 'images/wikiimages-galaxy.jpg' %}">Set as Background</button>
  </div>
</div>

<div class="gallery-item">
  <a target="_blank" href="{% static 'images/wikiimages-christmas.jpg' %}">
    <img src="{% static 'images/wikiimages-christmas.jpg' %}" alt="Wiki's Christmas" width="600" height="400">
  </a>
  <div class="desc">
    <p>Christmas</p>
    <p><a target="_blank" href="https://pixabay.com/users/wikiimages-1897/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=11107">WikiImages</a></p>
    <button class="btn btn-dark btn-sm mt-2 set-bg-btn" data-bg="{% static 'images/wikiimages-christmas.jpg' %}">Set as Background</button>
  </div>
</div>

<div class="gallery-item">
  <a target="_blank" href="{% static 'images/geek_anis_studio-space.jpg' %}">
    <img src="{% static 'images/geek_anis_studio-space.jpg' %}" alt="Geek Anis Studio's Space" width="600" height="400">
  </a>
  <div class="desc">
    <p>Space</p>
    <p><a target="_blank" href="https://pixabay.com/users/geek_anis_studio-53108351/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=9938837">Geek_Anis_Studio</a></p>
    <button class="btn btn-dark btn-sm mt-2 set-bg-btn" data-bg="{% static 'images/geek_anis_studio-space.jpg' %}">Set as Background</button>
  </div>
</div>

<div class="gallery-item">
  <a target="_blank" href="{% static 'images/michaelcalumross-peacock.jpg' %}">
    <img src="{% static 'images/michaelcalumross-peacock.jpg' %}" alt="Michael's Peacock" width="600" height="400">
  </a>
  <div class="desc">
    <p>Peacock</p>
    <p><a target="_blank" href="https://pixabay.com/users/michaelcalumross-21106232/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=6185159">michaelcalumross</a></p>
    <button class="btn btn-dark btn-sm mt-2 set-bg-btn" data-bg="{% static 'images/michaelcalumross-peacock.jpg' %}">Set as Background</button>
  </div>
</div>

<div class="gallery-item">
  <a target="_blank" href="{% static 'images/astrographix_visuals-eclipse.jpg' %}">
    <img src="{% static 'images/astrographix_visuals-eclipse.jpg' %}" alt="AstroGraphix's Eclipse" width="600" height="400">
  </a>
  <div class="desc">
    <p>Eclipse</p>
    <p><a target="_blank" href="https://pixabay.com/users/astrographix_visuals-2249158/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1492818">AstroGraphix_Visuals</a></p>
    <button class="btn btn-dark btn-sm mt-2 set-bg-btn" data-bg="{% static 'images/astrographix_visuals-eclipse.jpg' %}">Set as Background</button>
  </div>
</div>

<div class="gallery-item">
  <a target="_blank" href="{% static 'images/per_magnusson-nebula.jpg' %}">
    <img src="{% static 'images/per_magnusson-nebula.jpg' %}" alt="Per Magnusson's Nebula" width="600" height="400">
  </a>
  <div class="desc">
    <p>Nebula</p>
    <p><a target="_blank" href="https://pixabay.com/users/per_magnusson-24673322/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=6964440">Per_Magnusson</a></p>
    <button class="btn btn-dark btn-sm mt-2 set-bg-btn" data-bg="{% static 'images/per_magnusson-nebula.jpg' %}">Set as Background</button>
  </div>
</div>

<div class="gallery-item">
  <a target="_blank" href="{% static 'images/stocksnap-constellations.jpg' %}">
    <img src="{% static 'images/stocksnap-constellations.jpg' %}" alt="Stocksnap's Constellation" width="600" height="400">
  </a>
  <div class="desc">
    <p>Constellation</p>
    <p><a target="_blank" href="https://pixabay.com/users/stocksnap-894430/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=2609647">StockSnap</a></p>
    <button class="btn btn-dark btn-sm mt-2 set-bg-btn" data-bg="{% static 'images/stocksnap-constellations.jpg' %}">Set as Background</button>
  </div>
</div>

<div class="gallery-item">
  <a target="_blank" href="{% static 'images/qimono-earth.jpg' %}">
    <img src="{% static 'images/qimono-earth.jpg' %}" alt="Qimono's Earth" width="600" height="400">
  </a>
  <div class="desc">
    <p>Earth</p>
    <p><a target="_blank" href="https://pixabay.com/users/qimono-1962238/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1365995">qimono</a></p>
    <button class="btn btn-dark btn-sm mt-2 set-bg-btn" data-bg="{% static 'images/qimono-earth.jpg' %}">Set as Background</button>
  </div>
</div>

<div class="gallery-item">
  <a target="_blank" href="{% static 'images/mattiaverga-space.jpg' %}">
    <img src="{% static 'images/mattiaverga-space.jpg' %}" alt="Matti's Space" width="600" height="400">
  </a>
  <div class="desc">
    <p>Space</p>
    <p><a target="_blank" href="https://pixabay.com/users/mattiaverga-213512/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=9250868">mattiaverga</a></p>
    <button class="btn btn-dark btn-sm mt-2 set-bg-btn" data-bg="{% static 'images/mattiaverga-space.jpg' %}">Set as Background</button>
  </div>
</div>

<div class="gallery-item">
  <a target="_blank" href="{% static 'images/geralt-galaxy.jpg' %}">
    <img src="{% static 'images/geralt-galaxy.jpg' %}" alt="Geralt's Galaxy" width="600" height="400">
  </a>
  <div class="desc">
    <p>Galaxy</p>
    <p><a target="_blank" href="https://pixabay.com/users/geralt-9301/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=2688937">geralt</a></p>
    <button class="btn btn-dark btn-sm mt-2 set-bg-btn" data-bg="{% static 'images/geralt-galaxy.jpg' %}">Set as Background</button>
  </div>
</div>

<div class="gallery-item">
  <a target="_blank" href="{% static 'images/alexantropov86-wormhole.jpg' %}">
    <img src="{% static 'images/alexantropov86-wormhole.jpg' %}" alt="Alex's Wormhole" width="600" height="400">
  </a>
  <div class="desc">
    <p>Wormhole</p>
    <p><a target="_blank" href="https://pixabay.com/users/alexantropov86-2691829/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=5319067">AlexAntropov86</a></p>
    <button class="btn btn-dark btn-sm mt-2 set-bg-btn" data-bg="{% static 'images/alexantropov86-wormhole.jpg' %}">Set as Background</button>
  </div>
</div>

<div class="gallery-item">
  <a target="_blank" href="{% static 'images/geralt-universe.jpg' %}">
    <img src="{% static 'images/geralt-universe.jpg' %}" alt="Geralt's Universe" width="600" height="400">
  </a>
  <div class="desc">
    <p>Universe</p>
    <p><a target="_blank" href="https://pixabay.com/users/geralt-9301/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=8766586" target="_blank">geralt</a></p>
    <button class="btn btn-dark btn-sm mt-2 set-bg-btn" data-bg="{% static 'images/geralt-universe.jpg' %}">Set as Background</button>
  </div>
</div>

<div class="gallery-item">
  <a target="_blank" href="{% static 'images/25735928-galaxy.jpg' %}">
    <img src="{% static 'images/25735928-galaxy.jpg' %}" alt="Nice One!" width="600" height="400">
  </a>
  <div class="desc">
    <p>Nice one!</p>
    <p>No Name</p>
    <button class="btn btn-dark btn-sm mt-2 set-bg-btn" data-bg="{% static 'images/25735928-galaxy.jpg' %}">Set as Background</button>
  </div>
</div>

<div class="gallery-item">
  <a target="_blank" href="{% static 'images/jwvein-moon.jpg' %}">
    <img src="{% static 'images/jwvein-moon.jpg' %}" alt="JW's Moon" width="600" height="400">
  </a>
  <div class="desc">
    <p>Moon</p>
    <p><a target="_blank" href="https://pixabay.com/users/jwvein-5584447/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=7845194">jwvein</a></p>
    <button class="btn btn-dark btn-sm mt-2 set-bg-btn" data-bg="{% static 'images/jwvein-moon.jpg' %}">Set as Background</button>
  </div>
</div>

<div class="gallery-item">
  <a target="_blank" href="{% static 'images/solar-system.jpg' %}">
    <img src="{% static 'images/solar-system.jpg' %}" alt="Solar System" width="600" height="400">
  </a>
  <div class="desc">
    <p>Solar System</p>
    <p>No Name</p>
    <button class="btn btn-dark btn-sm mt-2 set-bg-btn" data-bg="{% static 'images/solar-system.jpg' %}">Set as Background</button>
  </div>
</div>

<div class="gallery-item">
  <a target="_blank" href="{% static 'images/mattiaverga-space-9250868_1920.jpg' %}">
    <img src="{% static 'images/mattiaverga-space-9250868_1920.jpg' %}" alt="JW's Moon" width="600" height="400">
  </a>
  <div class="desc">
    <p>Space</p>
    <p><a target="_blank" href="https://pixabay.com/users/mattiaverga-213512/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=9250868">mattiaverga</a></p>
    <button class="btn btn-dark btn-sm mt-2 set-bg-btn" data-bg="{% static 'images/mattiaverga-space-9250868_1920.jpg' %}">Set as Background</button>
  </div>
</div>

</div>

{% endblock content %}